<div id="list-<%= list.id %>" class="list col-sm-12 col-md-6 col-lg-4 col-xl-3">
  <h3 class="text-center list-title"><%= list.title %></h3>
  <p><%= list.description %></p>
  <div class="list-items">
    <%= link_to("+", new_list_option_path(list), remote: true, class: "new-option-button", id: "new-option-button-#{list.id}") %>
    <ul class="list-options" id="list-options-<%= list.id%>">
      <%= render list.options  %>
    </ul>
  </div>
  <%= list if Rails.env.development? %>
</div>
