<% container = true unless defined? container %>
<% if container %><div id="list-<%= list.id %>"><% end %>
<div id="list-<%= list.id %>" class="list col-sm-12 col-md-6 col-lg-4 col-xl-3">
  <h3 class="text-center list-title"><%= list.title %></h3>
  <div class="list-description"><%= list.description %></div>
  <div class="list-items">
    <div class="list-options" id="list-options-<%= list.id%>">
      <%= render list.options, container: true %>
    </div>
    <%= link_to("+", new_list_option_path(list), remote: true, class: "new-option-button", id: "new-option-button-#{list.id}") %>
  </div>
  <%= list if Rails.env.development? %>
</div>
<% if container %></div><% end %>
