<% container = true unless defined? container %>
<% if container %><div class="note noteable" id="<%= "note-#{note.id}" %>"><% end %>
  <div class="note-head">
    <H4 class="note-title">
      <%= note.name %>
    </H4>
  </div>
  <div class="note-body">
    <p class="note-contents">
      <%= note.contents %>
    </p>
    <%# if note.has_pricetag? %>
      <%#= render partial: 'pricetags/show', locals: { pricetag: note.pricetag } %>
    <%# end %>
    <% if user_signed_in? %>
      <div class="note-links">
        <% if policy(note).update? %>
          <%= link_to "edit note", edit_note_path(note, corona: @corona), remote: true, class: 'note-update-button' %>
        <% end %>
        <% if policy(note).destroy? %>
          <%= link_to "X", note, remote: true, method: :delete, class: 'note-delete-button pin' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% if container %></div><% end %>
