<div class="note noteable" id="<%= "note_#{note.id}" %>>">
  <div class="note-head">
    <H4 class="note-title">
      <%= note.name %>
    </H4>
  </div>
  <div class="note-body">
    <p class="note-contents">
      <%= note.contents %>
    </p>
    <% if note.has_pricetag? %>
      <%= render partial: 'pricetags/show', locals: { pricetag: note.pricetag } %>
    <% end %>
    <% if note&.user == current_user %>
      <div class="edit-options">
        <%= link_to "edit note", method: :put, remote: true, id: "new-note-button-#{note.id}", class:"edit-btn", type: "button" %>
        <%= link_to "delete note", method: :put, remote: true, id: "delete-note-button-#{note.id}", class:"delete-btn", type: "button" %>
      </div>
    <% end %>
  </div>
</div>
