<div class="row">
  <div id="cleaning-week">
    <h2>This week's cleaning roster:</h2>
    <div id="cleaning-roster" class="align-content-center">
      <table class="table">
        <tr>
          <th scope="col">week</th>
          <th scope="col">Trash upstairs</th>
          <th scope="col">Trash downstairs</th>
          <th scope="col">Kitchen</th>
          <th scope="col">Take out recycling</th>
          <th scope="col">Clearing hallways</th>
        </tr>
        <tr>

          <th scope="row"><%= "  #{(cleaning_week-7.days).strftime('%m/%d')}-#{(cleaning_week-1.days).strftime('%m/%d')}  " %></th>
          <% last_week = @opruimlijst[(cleaning_week-7.days).strftime('%Y-%m-%d')] || ['something went wrong'] %>
          <% last_week.each do |name| %>
            <td><%= name %></td>
          <% end %>
        </tr>
        <tr>
          <th scope="row"><%= "--#{cleaning_week.strftime('%m/%d')}-#{(cleaning_week+7.days).strftime('%m/%d')}--" %></th>
          <% this_week = @opruimlijst[(cleaning_week).strftime('%Y-%m-%d')] || ['something went wrong'] %>
          <% this_week.each do |name| %>
            <td><%= name %></td>
          <% end %>
        </tr>
        <tr>
          <th scope="row"><%= "  #{(cleaning_week+7.days).strftime('%m/%d')}-#{(cleaning_week+13.days).strftime('%m/%d')}  " %></th>
          <% next_week = @opruimlijst[(cleaning_week+7.days).strftime('%Y-%m-%d')] || ['something went wrong'] %>
          <% next_week.each do |name| %>
            <td><%= name %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>
