<div class="option voting-container" id="list-<%= option.list.id %>-option-<%= option.id %>" >
  <div class="voteable list-item">
  <%= render 'shared/votes', record: option %>
    <p><%= option.name %></p>
    <%= link_to '-',
        {
          url: list_option_path(option.list, option),
          method: :delete,
          remote: true,
          data: {confirm: 'Sure?'}
        },
        class: 'delete-button' do
    %>
      <%= icon 'far', "trash-alt" %>
    <% end %>
  </div>
</div>
