<% container = true unless defined? container %>
<% if container %><div class="option voting-container" id="option-<%= option.id %>" ><% end %>
  <% if user_signed_in? %>
    <%= render 'shared/votes', record: option %>
  <% end %>
  <div class="voteable option-name">
    <%= option.name %>
    <% if policy(option).update? %>
    <%= link_to edit_list_option_path(option.list, option), method: :get, remote: true , class: 'delete-button' do %>
      <%= fa_icon "edit" %>
    <% end %>
    <%= link_to list_option_path(option.list, option), method: :delete, remote: true, data: {confirm: 'Sure?'} , class: 'delete-button' do %>
      <%= fa_icon "trash" %>
    <% end %>
  <% end %>
  </div>
<% if container %></div><% end %>
