<%= javascript_include_tag "pages/home.js" %>
<div class="title text-center">
  <h1 class="text-center" id="title">ZZW</h1>
</div>
<p class="text-center"><%= List.find_by(title: 'Subtitle').winner %></p>
<% if @user %>
  <%= @user.inspect %>
<% else %>
  <p>not signed in yet</p>
<% end %>
<%= render partial: 'pages/home/opruimlijst', locals: { cleaning_week: @cleaning_week } %>
<div class="row">
  <%= render partial: 'pages/home/notitiebord' %>
  <%= render partial: 'pages/home/planner' %>
</div>
<!-- <%#= render partial: 'pages/home/eetlijst' %> -->
<% content_for :document_ready do %>
<% end %>
