<%= render partial: 'layouts/sidebar' %>
<%= render partial: 'layouts/ridebar' %>
<%= javascript_include_tag "pages/home.js" %>
<div class="title text-center">
  <h1 class="text-center" id="zzw">ZZW</h1>
</div>
  <h4 class="text-center" id="site-title"><%= List.find_by(title: 'site-title').winner.name %></h4>
<% if @user %>
  <% if Rails.env.development? %>
    <%= @user.inspect %>
  <% end %>
<% else %>
  <p>not signed in yet</p>
<% end %>
<div class="row">
  <%= render partial: 'components/planner' %>
</div>
<% content_for :document_ready do %>
<% end %>
