<%= javascript_include_tag "pages/tikkie.js" %>
<p>Find me in app/views/pages/tikkie.html.erb</p>
<div class="row">
  <div class="col-xs-12 col-md-10 offset-md-1">
    <table class="table table-hover">
      <thead>
      <h4>Innings</h4>
      <tr>
        <th scope="col">#</th>
        <th scope="col">From</th>
        <th scope="col">Amount</th>
      </tr>
      </thead>
      <tbody>
        <% current_user.innings.each do |debt| %>
          <tr>
            <th scope="row">1</th>
            <td><%= debt.inner %></td>
            <td><%= debt.amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <table class="table table-hover">
      <thead>
      <h4>Debts</h4>
      <tr>
        <th scope="col">#</th>
        <th scope="col">To</th>
        <th scope="col">Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <% current_user.innings.each do |debt| %>
          <tr>
            <th scope="row">1</th>
            <td><%= debt.debtor %></td>
            <td><%= debt.amount %></td>
          </tr>
        <% end %>
      </tr>
      </tbody>
    </table>
      <% @users.each do |user| %>
          <% user.innings.each do |inning| %>
            <h3>Van:</h3>

            <li><%= inning.amount %>euro van: <%= inning.inner.name %></li>
        <% end %>
      <% end %>
  </div>
  <div class="col-xs-6">
    <ul>
      <% @users.each do |user| %>
        <% user.debts.each do |debt| %>
        <h3>aan:</h3>

        <li><%= debt.amount %>euro van: <%= debt.debtor.name %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <%= render 'debts/table', direction: 'to', debts: @from_me %>
  <%= render 'debts/table', direction: 'from', debts: @to_me %>
</div>
