<% container = true unless defined? container %>
<% if container %><div class id="new-event-form"><% end %>
  <%= simple_form_for(event, remote: true, authenticity_token: true) do |f| %>
    <%= f.input "name" %>
    <%= f.input "description" %>
    <%= f.input "start_time" %>
    <%= f.input "end_time" %>
    <%= f.input 'url' %>
    <%= f.input :is_public, label: 'public?', label_html: { class: 'no-color' } %>
    <%= f.button "submit" %>
  <% end %>
<% if container %></div><% end %>
