<div class="navbar-wagon">

  <div class="navbar-wagon-item">
    <%= link_to 'Home', root_url, class: "navbar-wagon-item navbar-wagon-link" %>
    <%#= link_to 'Finances', tikkie_url, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to 'lists', lists_url, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to 'opruimlijst', opruimlijst_index_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%#= link_to 'style', nil %>
    <%#= link_to 'translate', nil %>
  </div>
  <div class='site-title'>
    <% if current_user.try(:admin?) %>
      <h2>Welcome boss</h2>
    <% end %>
  </div>

  <div class="navbar-wagon-item navbar-wagon-right">
    <%= (@user.nickname || @user.first_name) if @user %>
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <li><%= link_to "edit profile", edit_user_registration_path(current_user), method: :get, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "Login", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <% end %>
        <li><%= link_to 'about', about_url, class: "navbar-wagon-item navbar-wagon-link" %></li>
      </ul>
    </div>
  </div>
</div>
